<h1 [routerLink]="['/home']" routerLinkActive="router-link-active" >Twitter</h1>
<nav class="side-nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <!-- <a routerLink="/notifications" routerLinkActive="active"">Notifications</a>  -->
    <a *ngIf="!user" routerLink="/signup" routerLinkActive="active">Signup</a>
    <a *ngIf="user" routerLink="/profile" routerLinkActive="active">Profile</a>

    <button *ngIf="user" (click)="logout()">Logout</button>
</nav>
