<section class="profile">

    <header>
        <div class="back-action-container">
            <svg 
            (click)="goBack()"
            viewBox="0 0 24 24" aria-hidden="true"
            class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-z80fyv r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-19wmn03">
            <g>
                <path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path>
            </g>
        </svg>
        </div>
        <h1>{{ user.username }}</h1>
    </header>

    <section class="profile-imgs" [style]="bcgImg">
        <img [src]="user.avatarUrl" alt="">
    </section>

    <div class="header">
        <img [src]="user.avatarUrl" alt="user profile" />
        <p>{{ user.username }}</p>
    </div>
    <section class="user-tweets">
        <h3>Your tweets</h3>
        <twitter-list
            [tweets]="tweets"
            (onLike)="handleLike($event)"
        ></twitter-list>
    </section>
</section>
