<section #top class="twitter-app">
    <header>
        <h2 (click)="scroll(top)">Home</h2>
    </header>
    <div *ngIf="!user" class="margin-top"></div>
    <add-tweet-form
        *ngIf="user"
        [placeholderText]="'What\'s happening?'"
        (tweetSaved)="addTweet($event)"
    ></add-tweet-form>
    <section class="show-more-action" (click)="showMore()" *ngIf="tweetsToShow">
        <button type="button">Show {{ tweetsToShow }} Tweets</button>
    </section>
    <twitter-list
        [tweets]="tweets"
        (onLike)="handleLike($event)"
    ></twitter-list>
</section>
