:host {
    width: 100%;
    background-color: #eff3f4;
    margin-block-start: 10px;
    height: 42px;
    border-radius: 2em;
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:has(input:focus) {
        background-color: transparent;
        outline: 0.5px solid #1d9bf0;
    }
}

.search-filter {
    display: flex;
    align-items: center;
    
    width: 100%;
    max-width: 300px;
    height: 100%;

    .img-container, .advance-search-cotnainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    input {
        background-color: transparent;
        border: 0;
        font-size: 17px;
        margin-inline-start: 20px;
    }

    img {
        width: 22px;
        height: 22px;
        filter: invert(58%) sepia(8%) saturate(465%) hue-rotate(162deg) brightness(98%) contrast(95%);
        margin-inline-start: 20px;

        &:hover {
            cursor: pointer;
            filter: invert(58%) sepia(22%) saturate(6848%) hue-rotate(179deg) brightness(94%) contrast(101%);
        }
    }

    .advance-search-cotnainer {
        padding-inline-end: 20px;
        svg {
            filter: invert(58%) sepia(8%) saturate(465%) hue-rotate(162deg) brightness(98%) contrast(95%);

            &:hover {
                cursor: pointer;
                filter: invert(58%) sepia(22%) saturate(6848%) hue-rotate(179deg) brightness(94%) contrast(101%);
            }
        }


    }





}