/* ProfileEditorComponent's private CSS styles */
@import '../../../../src/styles.scss';


.add-tweet-form {
    border-block-end: 0.05px solid rgb(237, 237, 237);
    padding-inline: 5px;
    padding-block: 5px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/