/* ProfileEditorComponent's private CSS styles */
@import '../../../../src/styles.scss';


.add-tweet-form {
    border-block-end: 0.05px solid rgb(237, 237, 237);
    padding-inline: 5px;
    padding-block: 5px;
    padding-block-start: 53px;

    .tweet-body {
        min-height: 52px;
        display: flex;
    }

    .user-avatar-container {
        display: flex;
        justify-content: flex-start;
        border-radius: 50%;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    input {
        padding-inline-start: 10px;
        width: calc(100% - 50px);
        border: 0;
        margin-block: 5px;
        text-indent: 20px;
    }

    .form-actions {
        display: flex;
        justify-content: flex-end;
        padding-inline: 10px;

        button {
            padding-inline: 19px;
            padding-block: 10px;
            background-color: #8ecdf8;
            border-radius: 2em;
            color: white;
            transition: 0.4s;
            cursor: pointer;
            
            &:hover {
                background-color: #1d9bf0;
            }
        }
    }

    .underline {
        width: calc(100% - 67px);
        height: 1px;
        background-color: #dcdcdc;
        margin-block: 10px;
        margin-inline-start: 55px;
        margin-inline-end: 100px;
    }



}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/