<form class="add-tweet-form" [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
    <section class="tweet-body">
        <div class="user-avatar-container">
            <img src="https://randomuser.me/api/portraits/med/men/{{user?._id || 0}}.jpg" alt="">
        </div>
        <input id="text" type="text" formControlName="text" minlength="3" required placeholder={{placeholderText}}>
    </section>
    <div class="underline"></div>
    <div class="form-actions">
        <button type="submit" [disabled]="!profileForm.valid">{{buttonText}}</button>
    </div>
</form>