
/* ProfileEditorComponent's private CSS styles */
@import '../../../../src/styles.scss';

.tweet-preview {
    border-block-end: 0.05px solid rgb(237, 237, 237);
    padding-inline: 5px;
    padding-block: 5px;
    
}