/* ProfileEditorComponent's private CSS styles */
@import '../../../../src/styles.scss';

.tweet-preview {
    border-block-end: 0.05px solid rgb(237, 237, 237);
    padding-inline: 5px;
    padding-block: 5px;
    display: flex;
    min-height: 100px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: rgb(235, 235, 235);
    }

    .avatar-img-container {
        display: flex;
        justify-content: flex-start;
        border-radius: 50%;

        img {
            min-width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    .tweet-data {
        padding-inline: 10px;
        flex-grow: 1;

        header {

            h2 {
                display: flex;
                gap: 5px;
                font-size: 15px;

                :first-child {
                    font-weight: 700;
                }

                :not(:first-child) {
                    color: rgb(155, 155, 155);
                }
            }

            & .replying-to {
                color: #a5afb6;
                & span {
                    color: #1e9bf1;
                }
            }
        }

        .tweet-content {
            padding-block: 10px;

            img {
                border-radius: 10px;
            }
        }
    }

    .tweet-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-inline: 20px;

        .like-action {
            display: flex;
            align-items: center;

            // justify-content: flex-end;
            span {
                font-size: 14px;
                color: $clr1;
            }

            .heart {
                cursor: pointer;
                background-color: transparent;
                border-radius: 50%;

                height: 42px;
                width: 42px;
                margin: 4px;
                background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
                background-position: left;
                background-repeat: no-repeat;
                background-size: 2900%;
                transition: background-color 0.4s;

                &.is-liked {
                    background-position: right;
                }
            }



            .heart:hover {
                background-position: right;
                background-color: #cfcfcf;

            }

            .is_animating {
                animation: heart-burst .8s steps(28) 1;
            }

            @keyframes heart-burst {
                from {
                    background-position: left;
                }

                to {
                    background-position: right;
                }
            }


        }

        .tweet-action {
            height: 42px;
            width: 42px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: background-color 0.4s;

            &:hover {
                background-color: #cfcfcf;

                svg {
                    filter: invert(46%) sepia(59%) saturate(712%) hue-rotate(162deg) brightness(102%) contrast(99%);
                }
            }

            svg {
                margin-block-start: 2px;
                height: 13px;
                filter: invert(95%) sepia(2%) saturate(3870%) hue-rotate(176deg) brightness(77%) contrast(97%);


            }
        }
    }



}
